@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #242424;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Custom Scrollbar */
/* Custom Scrollbar with Spacing */
.custom-scrollbar {
  scrollbar-gutter: stable both-edges;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #38bdf8;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0ea5e9;
}

